.logo {
  max-width: 8%;
}

.top-nav {
  padding-top: 0.5rem;
}

.navbar-brand {
  margin-left: 0.5rem;
}

.navbar-brand a {
  margin-left: 0.5rem;
}

.superior-section h1{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
}

.space-top {
  margin-top: 0.5rem;
}

.pad-top {
  padding-top: 0.5rem; 
}

.pad-bottom {
  padding-bottom: 0.5rem;
}

footer {
  height: 22rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#banner-title {
  font-weight: bold;
}